$white: #fff;
$copy: #ddd;
$light: #c6c6c6;
$global-bg: #1e252b;
$action: #ff761b;
$action-light: #ffc674;

$sa-primary: #009a61;
$sa-primary-dark: #00311f;
$sa-secondary: #ffb612;

body.solomon-study {
	background-color: $global-bg;
}